
body {
	background-color:rgb(118,143,165);
	
}

#Banner{
    background-color: #900000;
    color: #FFFFFF;
    font-size: 24pt;
}

#NavBar{
    	background-color:#660000;
        color: #FFFFFF;
        //word-spacing: 30px;
	
        
        
}
a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight:bold;
}

h1{
    color:#000099;
}

#Footer{
    background-color: #D0D0D0 ; 
}

#Content{
    background-color: #FFFFFF; 
}