body {
	background-color:rgb(0,42,0);
	
}
#Banner{
    background-color: #006900;
    color: #FFFFFF;
    font-size: 24pt;
}

#NavBar{
    	background-color:#004B00;
        color: #FFFFFF;
        //word-spacing: 30px;
	
        
        
}
a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight:bold;
}

h1{
    color:#000099;
}

#Footer{
    background-color: #D0D0D0 ; 
}

#Content{
    background-color: #20A420; 
}
