body {
	background-color:rgb(118,143,165);
	
}
div{
    display: block;
}

#parent{
    font-size:0pt;
}
#Banner{
        position:static;
	width:100%;
	left:10%;
	right:10%;
	//height:80px;
	text-align:center;
	//padding-top:2px;
	padding-bottom:2px;
        margin: auto;
	//margin-top:0px;
	//margin-bottom:0px;
	//top:50px;
        //vertical-align: top;
}

#NavBar{
    position:static;
    width:50%;
   left: 10%;
    //margin: auto;
    text-align: Left;
    //vertical-align: top;
    padding-bottom:10px;
	//width:100%;
	//height:45px;
	//top:0px;
}

#Content{
        
    	position:static;
	width:96%;
	left:10%;
	right:10%;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left:2%;
        padding-right: 2%;
        height: 1000px;
        margin: auto;
	text-align:left;
}

#Footer{
    position:static;
    width:100%;
    left:10%;
    right:10%;
    margin: auto;
    padding-top: 1px;
    padding-bottom:11px;
    text-align: center;
    
}
img.FooterImage{
    float: right;
    //float: top;
}

.nav img {
   height: 100%;
   width: 100%;
   //float:right;
}




a.nav, a.open_nav {
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-left:5px;
	padding-right:20px;
	padding-top:5px;
	width:80px;
}