body {
	background-color:#008B8B;
	
}
#Banner{
    background-color: #0C044B;
    color: #FFFFFF;
    font-size: 24pt;
}

#NavBar{
    	background-color:#1B0F82;
        color: #FFFFFF;
        //word-spacing: 30px;
	
        
        
}
a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight:bold;
}

h1{
    color:#000099;
}

#Footer{
    background-color: #D0D0D0 ; 
}

#Content{
    background-color: #FFFFFF; 
}
